/*██████████ GLOBAL ██████████*/
@import "setup";
@import "colours";
@import "typography";

/*⎕⎕⎕⎕⎕ LAYOUT ⎕⎕⎕⎕⎕*/
.wrapper {
    margin: 0 auto;
    max-width: 940px;
    padding-left: 20px;
    padding-right: 20px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
/*██████████ INDEX ██████████*/
.categories {
    margin: 20px 0;
    button {
        background: #FFF;
        border: solid 1px #ddd;
        padding: 10px;
        &:hover {
            background: #ffff0059;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        }
    }
}
.emoji {
    border: 0;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: #ddd;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
    &:hover {
        background: #ffff0059;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
}
/*⎕⎕⎕⎕⎕ MAIN ⎕⎕⎕⎕⎕*/